print("\nWelcome to the Realm of Shadows. Your mission is to find the Lost Amulet.")

first_choice = input("[ You wander into the.. ]\n Dark Path = 1\n Eternal Mist = 2\n")
if first_choice == "1":
    print("Good joob, you are still alive!")

    second_choice = input("[ You reach a cursed river. What do you do? ]\n Wait for the phantom boats = 1\n Swim by the Spirits of the Deep = 2\n")
    if second_choice == "2":
        print("Pretty catishh choice, you are still alive")

        third_choice = input("[ Three enchanted doors appear. Which one do you open? ]\n Flame Door (Red) → Defended by a dragon of fire - 1 "
                             "\n Frost Door (Blue) → Icey popsicles raining to the ground - 2\n Sun Door (Yellow) → Alarming sounds behind the door - 3\n")
        if third_choice == "3":
            print("You found the Lost Amulet! YOU WIN!")


        elif third_choice == "1":
            print("GAME OVER \n Burned by a dragon's fire.")
        elif third_choice == "2":
            print("GAME OVER \n Torn apart by icy shadows")
    else:
        print("GAME OVER \n Maybe not the best choice to swim..")
else:
    print("GAME OVER \n Spiders were too strong, next time buy insecticide!")



